/* nav {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    border: 2px solid black;
}

.logo {
    margin-left: 5px;
}

ul {
    display: flex;
}

li {
    text-decoration: none;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}

.Navbar-dashboard {
    justify-content: space-evenly;
    font-weight: bold;
}

.Navbar-personal {
    justify-content: flex-end;
    margin-right: 20px;
} */
.navbar {
  padding-top: 10px;
  background-color: #f7f7f8 !important;
  min-height: 40px;
  min-width: 300px !important;
  border: 4px solid #41bab2; 
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* .show {
  height: 100vh;
  margin-top: 10px;
  padding-top: 20px;
  background-repeat: no-repeat;
  background-size: cover;
} */
/* .show a {
  color: #f7f7f8;
} */

/* .navbar-nav {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
} */

.togglewrapperrr {
  font-family: "Bebas Neue";
  letter-spacing: 0.02rem;
  font-size: 1.9rem;
  padding-top: 5px;
  padding-bottom: 5px;
}
.new-idea {
  min-width: 140px; 
}
.material-icons {
  font-size: 2.1rem;
  height: 2em;
  padding: 3px;
  padding-right: 5px;
}
.nav-username {
  text-transform: uppercase;
}
.Logo {
  max-width: 100px;
  padding-left: 15px;
}
.navbar-toggler-icon {
  background-size: 130%;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(243,168,40, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  margin-top: 10px;
  margin-right: 5px;
  outline: none;
  /* box-shadow: 0 0 0 1pt #41bab2; */
  border: none;
}
/* .navbar-toggler:active {
    outline: 0 0 0 1pt #1d1c17 !important; 
} */
.navLink {
  color: #1d1c17;
  -webkit-transition: all 300ms ease;
}
.navLink:hover {
  text-decoration: underline #f3a928;
  color: #41bab2;
  font-weight: bolder;
  transition: all 200ms ease;
}


@media only screen and (min-width: 722px) {
  
  .ProfileContainer {
    display: flex; 
    padding-left: 5vw; 
  }
  .navbar-nav {
    max-height: 10vh; 
    display: flex; 
    flex-direction: row; 
    justify-items: flex-start; 
  }
  .Logo {
    max-width: 120px;
  }
  .navLink {
    color: #1d1c17;
    font-size: 1rem;
  }
  .ideas {
    margin-left: 30px;
  }
  .navbar-nav a {
    /* padding: 0px 30px; */
  }
  .nav-username {
    padding-bottom: 2px;
    line-height: 1.2rem;
    font-size: 1.5rem;
  }
  .material-icons {
    text-decoration: none;
    padding-top: 3px;
    height: 1.7em;
  }
  .material-icons:hover {
    text-decoration: none;
  }
  .new-idea {
    min-width: 140px; 
  }
  
}
@media only screen and (min-width: 1024px) {
  .ProfileContainer {
    display: flex; 
    justify-self: flex-end; 
  }
  .login {
    margin-left: 20vw; 
  }
}
