.Post-submit-container {
    padding-top: 40px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-content: center; 
}
.Post-submit-container img {
    width: 100px; 
    margin-bottom: 10px; 
}